#header{
	position:static;
	font-family:Verdana, sans-serif;
	text-align:center;
	margin:auto
	position:static;
	z-index:1;
	background-color:#660066;
	border-radius:15px;
	padding:20px;
	border:2px ridge  #CCFFFF;
	display:inline-block;
}
h3{
        font-family:Verdana, sans-serif;
        text-align:center;
        margin:auto
        float:top;
        z-index:1;
        background-color:#660066;
        border-radius:15px;
        padding:0px;
        border:20px ridge  #CCFFFF;
        display:block;
	color:#ffffff;
}
h2{
        font-family:Verdana, sans-serif;
        text-align:center;
        margin:auto
        float:top;
        z-index:1;
        background-color:#660066;
        border-radius:15px;
        padding:0px;
        border:20px ridge  #CCFFFF;
        display:block;
	color:#ffffff;
}
div>img{
	margin-right:auto;
	margin-left:auto;
	height:300px;
	width:300px;
	padding:5px;
	float:bottom;
	clear:both;
	float:center;
	border-radius:25px;
	border:5px dotted #29297A;
}
.links{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:inline-block;
	float:center;
	clear:both;
}
a img{
	margin-left:auto;
	margin-right:auto;
        height:100px;
        width:100px;
        padding:30px;
        display:inline;
        clear:both;
	float:center;
}
