#header{
	position:static;
	font-family:Verdana, sans-serif;
	text-align:center;
	margin:auto
	position:static;
	z-index:1;
	background-color:#660066;
	border-radius:15px;
	padding:20px;
	border:2px ridge  #CCFFFF;
	display:inline-block;
}
h3{
	position:static;
        font-family:Verdana, sans-serif;
        text-align:center;
        margin:auto
        float:top;
        z-index:1;
        background-color:#660066;
        border-radius:15px;
        padding:20px;
        border:10px ridge  #CCFFFF;
        display:block;
	color:#ffffff;
}
h4{
	position:static;
        font-family:Verdana, sans-serif;
        text-align:center;
        margin:auto
        float:top;
        z-index:1;
        background-color:#660066;
        border-radius:15px;
        padding:20px;
        border:102px ridge  #CCFFFF;
        display:block;
	color:#ffffff;
}
div>img{
	margin:auto;
	height:300px;
	width:300px;
	padding:5px;
	float:bottom;
	clear:both;
}
.links{
	height:100px;
	width:100px;
	padding:30px;
	display:inline;
	margin:auto;
	clear:both;
}
a img{
	left-margin:500px;
        height:100px;
        width:100px;
        padding:30px;
        display:inline;
        clear:both;
}
