#header{
	position:static;
	font-family:Verdana, sans-serif;
	text-align:center;
	margin:auto
	position:static;
	z-index:1;
	background-color:#660066;
	border-radius:15px;
	padding:20px;
	border:2px ridge  #CCFFFF;
	display:inline-block;
}
#mypicture{
	margin:auto;
	height:300px;
	width:300px;
	padding:5px;
	float:center;
}
.links{
	height:100px;
	width:100px;
	padding:30px;
	display:inline;
	margin:auto;
	clear:both;
}

